<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BestiePanti</title>
    <link rel="stylesheet" href="/css/output.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>

  <body class="bg-primary-50 text-secondary-500">
    <!-- Navbar -->
    <nav id="navbar" class="fixed z-50 w-full">
      <!-- Web Links -->
      <div
        class="c-container mx-auto flex h-20 w-full items-center justify-between gap-12 bg-primary-900 lg:h-24"
      >
        <div class="flex items-center gap-3 lg:gap-6">
          <button
            class="rounded p-2.5 text-white transition hover:text-white/75 lg:hidden"
            onclick="toggleNavbar()"
          >
            <span class="sr-only">Toggle menu</span>
            <div class="relative h-5 w-5">
              <span
                id="nav-icon-top"
                class="absolute inset-x-0 top-0.5 mx-auto h-[0.125rem] w-5 rounded-full bg-white transition"
              ></span>
              <span
                id="nav-icon-mid"
                class="absolute inset-0 m-auto h-[0.125rem] w-5 rounded-full bg-white transition"
              ></span>
              <span
                id="nav-icon-bottom"
                class="absolute inset-x-0 bottom-0.5 mx-auto h-[0.125rem] w-5 rounded-full bg-white transition"
              ></span>
            </div>
          </button>

          <a class="w-fit" href="/">
            <img
              class="h-10 lg:h-12"
              src="/assets/logo/logo-icon-color.svg"
              alt="logo"
            />
          </a>

          <div id="web-nav-links" class="hidden lg:flex">
            <div aria-label="Site Nav">
              <ul class="flex w-full items-center justify-center gap-6">
                <li>
                  <a class="nav-link-web" href="/"> BERANDA </a>
                </li>

                <li>
                  <a class="nav-link-web" href="/panti"> PANTI </a>
                </li>

                <li>
                  <a class="nav-link-web" href="/tentang-kami">
                    TENTANG KAMI
                  </a>
                </li>

                <li>
                  <a class="nav-link-web" href="/cara-donasi">
                    CARA BERDONASI
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="flex items-center gap-4">
          <div class="flex items-center gap-4 lg:gap-6">
            <a class="nav-link-web" href="/login"> MASUK </a>
            <a class="btn-primary-sm" href="/register"> DAFTAR </a>
          </div>

          <div class="relative text-white">
            <div
              class="flex cursor-pointer items-center justify-center gap-2 overflow-hidden hover:text-white/75"
              onclick="openProfileWeb()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                />
              </svg>

              <span class="max-w-[100px] truncate py-2 text-base font-medium">
                Username
              </span>

              <button id="profile-web-arrow" class="h-full transition">
                <span class="sr-only">Menu</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="20"
                  width="20"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>

            <div
              id="profile-web-links"
              class="divide-seconarborder-b-secondary-500 absolute end-0 z-10 mt-2 hidden w-56 divide-y rounded-lg border border-b-secondary-500 bg-white text-base text-primary-300"
              role="menu"
            >
              <div class="p-2">
                <a
                  href="/dashboard"
                  class="flex w-full items-center gap-2 rounded-lg px-4 py-2 hover:bg-primary-50"
                  role="menuitem"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
                    />
                  </svg>

                  Dashboard
                </a>
              </div>

              <div class="p-2">
                <form method="POST" action="{{ route('logout') }}">
                  <button
                    type="submit"
                    class="flex w-full items-center gap-2 rounded-lg px-4 py-2 text-red-700 hover:bg-red-50"
                    role="menuitem"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="1.5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                      />
                    </svg>

                    Logout
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Links -->
      <div
        id="mobile-nav-links-container"
        class="relative hidden h-screen w-screen"
      >
        <div
          id="mobile-nav-links-background"
          class="absolute inset-0 m-auto h-screen w-screen bg-secondary-500/50"
        ></div>

        <div id="mobile-nav-links" class="relative h-screen w-0 bg-white">
          <a
            href="/"
            class="c-container block border-b-[1px] border-b-secondary-500 py-3"
          >
            <span class="nav-link-mobile"> BERANDA </span>
          </a>

          <a
            href="/panti"
            class="c-container block border-b-[1px] border-b-secondary-500 py-3"
          >
            <span class="nav-link-mobile"> PANTI </span>
          </a>

          <a
            href="/tentang-kami"
            class="c-container block border-b-[1px] border-b-secondary-500 py-3"
          >
            <span class="nav-link-mobile"> TENTANG KAMI </span>
          </a>

          <a
            href="/cara-donasi"
            class="c-container block border-b-[1px] border-b-secondary-500 py-3"
          >
            <span class="nav-link-mobile"> CARA BERDONASI </span>
          </a>
        </div>
      </div>
    </nav>

    <!-- Banner -->
    <section>
      <div
        class="swiper mySwiper h-[450px] sm:h-[500px] md:h-[550px] lg:h-[600px] xl:h-[800px]"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="h-full w-full object-cover"
              src="/assets/beranda/banner-1.jpg"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="h-full w-full object-cover"
              src="/assets/beranda/banner-2.jpg"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="h-full w-full object-cover"
              src="/assets/beranda/banner-3.jpg"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="h-full w-full object-cover"
              src="/assets/beranda/banner-4.jpg"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="h-full w-full object-cover"
              src="/assets/beranda/banner-5.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- Panti -->
    <section
      class="c-container flex flex-col items-center justify-center gap-8 py-16 lg:py-20 xl:py-24"
    >
      <div
        class="flex flex-col items-center justify-center gap-2 text-center lg:gap-4 xl:gap-6"
      >
        <h1 class="text-3xl font-bold lg:text-4xl xl:text-5xl">Panti Asuhan</h1>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Temukan panti yang membutuhkan, wujudkan kepedulian dengan berbagi.
        </p>
      </div>

      <div class="grid w-full grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4">
        <div class="panti-card">
          <img
            class="rounded-lg object-cover"
            src="/assets/beranda/banner-4.jpg"
            alt=""
          />

          <div class="flex w-full flex-col">
            <h2>Nama Panti asd asd ad as dasd</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
              consequatur reprehenderit soluta, inventore excepturi at nihil
              obcaecati repellat est? Nemo vero voluptatibus quisquam velit
              perferendis nam vel quas maxime aspernatur?
            </p>
          </div>

          <a href="/panti-detail" class="w-full">
            <button>Lihat Selengkapnya</button>
          </a>
        </div>

        <div class="panti-card">
          <img
            class="rounded-lg object-cover"
            src="/assets/beranda/banner-4.jpg"
            alt=""
          />

          <div class="flex w-full flex-col">
            <h2>Nama Panti asd asd ad as dasd</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
              consequatur reprehenderit soluta, inventore excepturi at nihil
              obcaecati repellat est? Nemo vero voluptatibus quisquam velit
              perferendis nam vel quas maxime aspernatur?
            </p>
          </div>

          <a href="/panti-detail" class="w-full">
            <button>Lihat Selengkapnya</button>
          </a>
        </div>
        <div class="panti-card">
          <img
            class="rounded-lg object-cover"
            src="/assets/beranda/banner-4.jpg"
            alt=""
          />

          <div class="flex w-full flex-col">
            <h2>Nama Panti asd asd ad as dasd</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
              consequatur reprehenderit soluta, inventore excepturi at nihil
              obcaecati repellat est? Nemo vero voluptatibus quisquam velit
              perferendis nam vel quas maxime aspernatur?
            </p>
          </div>

          <a href="/panti-detail" class="w-full">
            <button>Lihat Selengkapnya</button>
          </a>
        </div>
        <div class="panti-card">
          <img
            class="rounded-lg object-cover"
            src="/assets/beranda/banner-4.jpg"
            alt=""
          />

          <div class="flex w-full flex-col">
            <h2>Nama Panti asd asd ad as dasd</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
              consequatur reprehenderit soluta, inventore excepturi at nihil
              obcaecati repellat est? Nemo vero voluptatibus quisquam velit
              perferendis nam vel quas maxime aspernatur?
            </p>
          </div>

          <a href="/panti-detail" class="w-full">
            <button>Lihat Selengkapnya</button>
          </a>
        </div>
      </div>

      <a href="/panti">
        <button class="btn-secondary">Lihat Semua Panti Asuhan</button>
      </a>
    </section>

    <!-- Cara Berdonasi -->
    <section
      class="c-container bg-primary-900 py-16 text-white lg:py-20 xl:py-24"
    >
      <div class="flex flex-col items-center gap-12 lg:flex-row">
        <img
          src="/assets/beranda/banner-3.jpg"
          alt=""
          class="h-auto w-full rounded-xl lg:h-96 lg:w-auto"
        />

        <div class="flex flex-col justify-center gap-8">
          <div class="flex flex-col justify-center gap-3">
            <h1 class="text-3xl font-bold text-white lg:text-4xl xl:text-5xl">
              Ingin Berdonasi?
            </h1>

            <p
              class="text-primary text-secondary-300 text-lg lg:text-xl xl:text-2xl"
            >
              Membantu mereka yang membutuhkan kini lebih mudah! Pilih jenis
              donasi, tentukan panti asuhan tujuan, dan kirim bantuan Anda hanya
              dalam beberapa langkah.
            </p>
          </div>

          <div class="flex flex-wrap items-center gap-4 lg:gap-6">
            <a href="/cara-berdonasi">
              <button class="btn-primary">Baca Selengkapnya</button>
            </a>

            <a href="/cara-berdonasi">
              <button class="btn-secondary">Daftar Sekarang</button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Tentang Kami -->
    <section
      class="c-container flex flex-col items-center justify-center gap-8 py-16 lg:py-20 xl:py-24"
    >
      <img
        src="/assets/logo/logo-icon-text-color.svg"
        alt=""
        class="w-56 lg:w-60 xl:w-64"
      />

      <div class="flex flex-col items-center justify-center gap-4 text-center">
        <h1 class="text-3xl font-bold lg:text-4xl xl:text-5xl">
          Siapa itu <span class="text-primary-300">BestiePanti</span>?
        </h1>

        <p
          class="text-primary text-secondary-300 text-lg lg:text-xl xl:text-2xl"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni
          inventore quis sed, reiciendis, ut consequatur totam eveniet eaque
          quae voluptatibus earum optio sequi ipsam. Eveniet necessitatibus
          facilis ipsam ratione et?
        </p>
      </div>

      <a href="/tentang-kami">
        <button class="btn-primary">Baca Selengkapnya</button>
      </a>
    </section>

    <!-- Footer -->
    <footer
      class="c-container flex flex-col items-center justify-center gap-8 bg-primary-900 py-8 text-white"
    >
      <a href="/" class="">
        <img
          class="w-40 lg:w-48"
          src="/assets/logo/logo-icon-text-color-2.svg"
          alt="logo"
        />
      </a>

      <div id="web-nav-links" class="flex">
        <div aria-label="Site Nav">
          <ul
            class="flex w-full flex-wrap items-center justify-center gap-6 lg:gap-8"
          >
            <li>
              <a
                class="text-sm font-bold transition hover:text-primary-300 lg:text-base"
                href="/"
              >
                BERANDA
              </a>
            </li>

            <li>
              <a
                class="text-sm font-bold transition hover:text-primary-300 lg:text-base"
                href="/panti"
              >
                PANTI
              </a>
            </li>

            <li>
              <a
                class="text-sm font-bold transition hover:text-primary-300 lg:text-base"
                href="/tentang-kami"
              >
                TENTANG KAMI
              </a>
            </li>

            <li>
              <a
                class="text-sm font-bold transition hover:text-primary-300 lg:text-base"
                href="/cara-donasi"
              >
                CARA BERDONASI
              </a>
            </li>
          </ul>
        </div>
      </div>

      <p class="text-center text-sm lg:text-base">
        Copyright © 2025 BestiePanti. All rights reserved.
      </p>
    </footer>

    <script src="js/navigation-bar.js"></script>
    <script src="js/beranda.js"></script>
  </body>
</html>
