<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/users',
                method: 'GET',
                success: function(users) {
                    var userTable = $('#userTable tbody');
                    userTable.empty();
                    users.forEach(function(user) {
                        userTable.append('<tr>' +
                            '<td>' + user.id + '</td>' +
                            '<td>' + user.name + '</td>' +
                            '<td>' + user.email + '</td>' +
                            '<td>' + user.role + '</td>' +
                            '</tr>');
                    });
                }
            });
        });
    </script>
</head>
<body>
    <h1>User List</h1>
    <a href="/users/create">Create User</a>
    <table border="1" id="userTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be populated by AJAX -->
        </tbody>
    </table>
</body>
</html>
